APP_INSTANCE_ID=auditorsecsuite_pre
APP_DEBUG=1
APP_HOST=0.0.0.0
APP_PORT=58780
APP_ALLOWED_HOSTS=localhost,127.0.0.1,<LAN_IP>
DJANGO_SECRET_KEY=change-me
POSTGRES_DB=auditorsecsuite_pre
POSTGRES_USER=auditorsecsuite_pre
POSTGRES_PASSWORD=change-me
DATABASE_HOST=db
DATABASE_PORT=5432
